@font-face {
  font-family: 'Roboto Serif';
  font-weight: 400;
  font-style: normal;
  src: url("../fonts/Roboto Serif/RobotoSerif-Regular.ttf");
}
@font-face {
  font-family: 'Roboto Serif';
  font-weight: 500;
  font-style: normal;
  src: url("../fonts/Roboto Serif/RobotoSerif-Medium.ttf");
}
@font-face {
  font-family: 'Tahoma';
  font-weight: 400;
  font-style: normal;
  src: url("../fonts/Tahoma/Tahoma.ttf");
}
