<div class="companies-footer">
    <div class="container">
        <div class="companies-footer__swipper">
            <div class="swiper mySwiper">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                       <img src="images/footerIconOne.png" alt="">
                    </div>
                    <div class="swiper-slide">      
                        <img src="images/footerIconTwo.png" alt="">
                    </div>
                    <div class="swiper-slide">
                        <img src="images/footerIconThree.png" alt="">
                     </div>
                     <div class="swiper-slide">      
                         <img src="images/footerIconFour.png" alt="">
                     </div>
                     <div class="swiper-slide">
                        <img src="images/footerIconFive.png" alt="">
                     </div>
                     <div class="swiper-slide">      
                         <img src="images/footerIconSix.png" alt="">
                     </div>
                     <div class="swiper-slide">
                        <img src="images/footerIconOne.png" alt="">
                     </div>
                     <div class="swiper-slide">      
                         <img src="images/footerIconTwo.png" alt="">
                     </div>
                     <div class="swiper-slide">
                         <img src="images/footerIconThree.png" alt="">
                      </div>
                      <div class="swiper-slide">      
                          <img src="images/footerIconFour.png" alt="">
                      </div>
                      <div class="swiper-slide">
                         <img src="images/footerIconFive.png" alt="">
                      </div>
                      <div class="swiper-slide">      
                          <img src="images/footerIconSix.png" alt="">
                      </div>
                </div>
              </div>
        </div>
    </div>
</div>
<script src="js/companiesSwipper.js"></script>