<div class="leaders">
    <div class="leaders__title">
        <div class="title-wrapper">
            <h2>Руководители «Прогресс»</h2>
        </div>
    </div>
    <div class="leaders__cards">
        <div class="leaders__cards-slider">
            <div class="leaders__card">
                <div class="leaders__card-image">
                    <img src="images/leaders.jpg" alt="">
                </div>
                <div class="leaders__card-name">
                    <p>Иванов Иван Иванович</p>
                </div>
                <div class="leaders__card-text">
                    <p>Гендиректор и основатель</p>
                </div>
            </div>
            <div class="leaders__card">
                <div class="leaders__card-image">
                    <img src="images/leadersTwo.jpg" alt="">
                </div>
                <div class="leaders__card-name">
                    <p>Иванова Лариса Юрьевна</p>
                </div>
                <div class="leaders__card-text">
                    <p>Ректор</p>
                </div>
            </div>
            <div class="leaders__card">
                <div class="leaders__card-image">
                    <img src="images/leadersThree.jpg" alt="">
                </div>
                <div class="leaders__card-name">
                    <p>Иванов Иван Иванович</p>
                </div>
                <div class="leaders__card-text">
                    <p>Заместитель ректора</p>
                </div>
            </div>
        </div>
    </div>
</div>